<aside class="sidebar">
    <div class="logo-box">
        <i class="fa-solid fa-building"></i>
        <span>RealEstate Pro</span>
    </div>

    <nav class="menu">
        <a class="active" href=""><i class="fa-solid fa-chart-line"></i> Tổng quan</a>
        <a><i class="fa-solid fa-house"></i> Bất động sản</a>
        <a><i class="fa-solid fa-chart-pie"></i> Phân tích</a>
        <a><i class="fa-solid fa-users"></i> Khách hàng</a>
        <a><i class="fa-solid fa-handshake"></i> Giao dịch</a>
    </nav>

    <div class="menu settings">
        <a><i class="fa-solid fa-gear"></i> Cài đặt</a>
    </div>
</aside>