@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="@Url.Content("~/Font-end/asset/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Font-end/asset/base.css")">
    <link rel="stylesheet" href="@Url.Content("~/Font-end/asset/reset.css")">
</head>
<body>

    <!-- ============ Introduction =========== -->
    
    <section class="intro-section">
        <div class="intro-block left">
            <div class="Description">
                <h2>Bạn đang tìm kiếm nơi ở cho mình?</h2>
                <p>
                    Bạn đang gặp khó khăn tìm kiếm nơi ở, bạn chưa tìm được nơi phù hợp cho riêng mình. Chúng tôi hiểu rằng việc tìm một chỗ ở không chỉ là chọn một căn nhà, mà là tìm thấy một nơi bạn có thể gọi là tổ ấm. Tại đây, bạn sẽ dễ dàng tìm kiếm nơi ở phù hợp, đáp ứng nhu cầu và lối sống riêng. Chúng tôi ở đây để giúp bạn tìm thấy nơi hoàn hảo cho mình.
                </p>
            </div>
            <img src="~/Font-end/asset/img/image 7.png" alt="image" style="height: 265px">
        </div>

        <div class="intro-block right">
            <img src="~/Font-end/asset/img/image 8.png" alt="image" style="height: 265px">
            <div class="Description">
                <h2>Tìm nơi ở dễ dàng chọn nhà theo cách của bạn</h2>
                <p>
                    Chúng tôi tin rằng việc tìm nhà không cần phức tạp. Với nền tảng của chúng tôi, bạn có thể dễ dàng tìm kiếm, so sánh và lựa chọn nơi ở phù hợp theo cách sống của mình. Tìm kiếm dễ dàng – quyết định theo cách riêng của bạn.
                </p>
            </div>
        </div>
    </section>

    <!-- ================== Search ================= -->
    <div class="Container-search">
        <div class="nav-menu-bars">
            <div class="nav-menu-bars-item"><a href="#">Mua Nhà</a></div>
            <div class="nav-menu-bars-item"><a href="#">Thuê Nhà</a></div>
            <div class="nav-menu-bars-item"><a href="#">Bất động sản</a></div>
        </div>
        <div class="Search-bars">
            <input type="text" name="Search-product">
            <button class="button_small">Tìm kiếm</button>

            <div class="filter-group">
                <label for="type" style="font-size: 18px;">Các tiện ích:</label>
                <select id="type">
                    <option value="">Tất cả</option>
                    <option value="mua">Mua nhà</option>
                    <option value="thuê">Thuê nhà</option>
                </select>
            </div>

            <div class="results" id="results"></div>
        </div>
    </div>
    <!-- ================== Product ================= -->
    <div class="container-product">
        <h1>Dự án Hot</h1>
    </div>
</body>
</html>