.product-page{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color: var(--darkgray);
    padding: 12px;
}
.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b5b5b5;
    border-radius: 16px;
    gap: 20px;
}
.Image-details{
    height: 514px;
    width: 704px;
    background-color: #fff;
     border-radius: 16px;
    padding: 8px;

}
.Infomation-detailt-product{
    margin-top: 20px;
    background-color: #fff;
    width: 704px;
    border-radius: 16px;
    padding: 8px;

}
.user-info{
    width: 40%;
    height: auto;
    background-color: #968c8c;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    height: 50px;
    background-color: #d3d3d3;
    
}