
@{
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product_Details</title>
    <link rel="stylesheet" href="@Url.Content("~/Fon-end/asset/base.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Fon-end/css/style-Product-Details.css")" />
</head>
<body>
    <div class="product-page">
        <div class="product-info">
            <div class="Image-details"></div>
            <div class="Infomation-detailt-product">
                <h3>Name product</h3>
                <h3>Extention</h3>
                <h3>Price</h3>
                <h3>Address</h3>
                <h3>Thông tin mô tả</h3>
            </div>
        </div>
        <div class="user-info">
            <div class="product-user-infomation_details">
                <div class="contact">
                    <button>Liên hệ số điện thoại</button>
                    <button>Liên hệ zalo</button>
                </div>
            </div>
            <div class="comment-section">
                <h4>Bình luận</h4>
                <textarea placeholder="Bình Luận..."></textarea>
                <button class="btn">Gửi</button>
            </div>
        </div>


    </div>
</body>
</html>
